/** Custom general style **/
#go_to_top {
	position: -webkit-sticky;
	position: fixed;
	bottom: 100px;
	right: 50px;
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.breadcrumb li a {
    border-radius:15px;
}

#preHeader_blocks {
	display: flex;
	flex-direction: column-reverse;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#footer_blocks .block {
	text-align:center;
}

@media screen and (min-width: 640px) {
	#footer_blocks .block {
		text-align:left;
		width:31%;
	}
	#preHeader_blocks {
		flex-direction: row-reverse;
	}
	.preHeader .blockContent {
		margin-left: 25px;
	}
}
