.impact_img svg {
	background-color:${webleger.site.style.header.title.color};
	border-radius: 5px;
}

.Documentation table td:nth-child(1), .Documentation table td:nth-child(2) {
	word-break: normal;
} 

.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.EthikNet h1, .EthikNet h2, .EthikNet h3, .EthikNet h4, .EthikNet h5, .EthikNet h6, .EthikNet h7, .EthikNet h8, .EthikNet h9, .EthikNet h10, .EthikNet b, .EthikNet strong {
	color:green;
}
.EthikNet table th, .EthikNet table td {
	border-color:green;
}
.EthikNet  .subContent {
    border-color: green;
}
.EthikNet a:visited, .EthikNet a:link{
	color:green;
}
.EthikNet b, .EthikNet strong, .menu_EthikNet b, .menu_EthikNet strong {
	color: green;
}
.EthikNet #breadcrumb li a {
	background-color:#ccffcc;
}

.navbar-nav .menu_EthikNet>a:hover, .dropDown_menu_EthikNet>li>a:hover{
	background-color:lightgreen;
}

.footer_blocks .block h3.blockTitle {
	font-size: 150%;
}
.footer_blocks .block .blockTitle, .footer_blocks .block .blockContent > p {
	text-align:left;
}

@media screen and (min-width: 640px) {
	.footer_blocks .block {
		flex-direction:column;
		text-align:left;
		width:22%;
	}
}
