.sticker_list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sticker_centered {
	justify-content: center;
}

.sticker_centered.noText {
	flex-direction: row;
	gap: 4px;
}

.sticker_centered.noText .sticker {
	flex-direction: row;
	display: flex;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    justify-content: center;
	align-items: center;
}

.sticker_centered a{
	margin-top:10px;
}

@media screen and (min-width: 640px) {
	.sticker_centered {
		flex-direction: row;
		gap: 12px;
	}
	.sticker_centered.noText {
		
		gap: 12px;
	}
}