/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
	font: 100% trebuchet, helvetica, sans-serif;
	background-color: ${webleger.site.style.background_color};
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto;
}

#preHeader{
    background-color:${webleger.site.style.style1.background-color};
}

#header {
	background-color:${webleger.site.style.header.background_color};
}

#container {
	word-break: break-word;
}

img {
	max-width: 100%;
}


#mainContent img {
	margin: 5px;
}

a:link {
  color: ${webleger.site.style.link.text-color};
}
a:visited {
  color: ${webleger.site.style.link.text-color.visited};
}
a:hover {
  color: ${webleger.site.style.link.text-color.hover};
}
a:active {
  color: ${webleger.site.style.link.text-color.active};
}

b, strong {
	color: ${webleger.site.style.strong.text-color};
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10{
	color:${webleger.site.style.header.title.color};
    white-space: break-spaces;
    word-break: break-word;
}

[data-obfuscatedkey] {
	border: 2px solid white;
    border-radius: 21px;
    padding: 1px;
    padding-bottom: 3px;
    border-width: medium;
    background-color: rgb(255, 255, 255, 0.5);
}

#pageTitle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#headerTitle {
	color: ${webleger.site.style.header.title.color};
	margin: auto;
}

#logoLeft {
	width: ${webleger.site.logoLeft.size.width.mobile};
	height: auto;
}

#logoRight {
	width: ${webleger.site.logoRight.size.width.mobile};
	height: auto;
}

.pageContent {
    padding: 0px 10px 10px 10px;
}

.icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.125em;
}

.widget_title_image {
	float:left;
	margin-top:28px !important;
}

.description {
	font-weight: lighter;
	color: #aaaaaa;
}

.titleDescription {
	color: #282825;
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
	margin-top: 5%;
}

.descriptionIcons {
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	margin-top: 3%;
	margin-left: 40%;
}

.credit {
	background-color: lightgray;
	text-align: center;
}

#go_to_top {
	position: -webkit-sticky;
	position: fixed;
	bottom: 100px;
	right: 50px;
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid ${webleger.site.style.link.text-color};
	padding: 2px 5px;
}

code {
	white-space: break-spaces;
}

.self_disabled {
	background-color: grey;
    
}
.self_disabled a {
	pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

/* cards */
.card_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
}

.card {
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 15rem;
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

.card_title {
	margin-left: 10px;
	margin-right: 10px;
}

.card>a.widget_link, .card>a.widget_link_modal {
	display: block;
	color: black;
	height: 90%;
}

.card>a.widget_link:hover, .card>a.widget_link_modal:hover {
	text-decoration: none;
}

.card>a.widget_link:hover {
	color: ${webleger.site.style.link.text-color.hover};
}

.card>a.widget_link_modal:hover {
	cursor: zoom-in;
	color: ${webleger.site.style.link.text-color.hover};
}

.card>a.widget_link:active, .card>a.widget_link_modal:active {
	text-decoration: none;
	color: green;
}

.card_exerpt {
	margin-left: 10px;
	margin-right: 10px;
}

.card_image {
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.card_image>img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	max-height: 180px;
	max-width: 200px;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content_type_modal .card_content {
	display: none;
}

.content_type_modal .showMore {
	margin-top: 1%;
}

/* tables sub Content */
.table_title {
	font-weight: bold;
}

.table_image {
	width: 20%;
}

/* Modal elements */
.modal-body {
	display: flex;
	flex-direction: column;
}

.modal-body-content {
	padding-left: 1%;
}

.modal-image {
	max-height: 200px;
}

.shadow {
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

[data-href] {
	cursor: pointer;
}

[data-href]:hover {
	color: #2a6496;
}

.label {
	font-weight: bold;
	color: black;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  /*height: 60px;*/
  background-color:${webleger.site.style.footer.background_color};
  padding: 25px 0 0 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (min-width: 640px) {
	#footer {
		margin-left: -20px;
    	margin-right: -20px;
    	padding-left: 20px;
    	padding-right: 20px;
	}
	#pageTitle {
		justify-content: space-around;
		flex-direction: row;
	}
	#logoRight {
		width: ${webleger.site.logoRight.size.width.desktop};
	}
	#logoLeft {
		width: ${webleger.site.logoLeft.size.width.desktop};
	}
	.card>a.widget_link, .card>a.widget_link_modal {
		height: 100%;
	}
	.content_type_modal .showMore {
		display: none;
	}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 0px;
}
.container .credit {
  margin: 20px 0;
}