/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
	font: 100% trebuchet, helvetica, sans-serif;
	background-color: ${webleger.site.style.background_color};
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto;
}

#preHeader{
    background-color:${webleger.site.style.style1.background-color};
}

#header {
	background-color:${webleger.site.style.header.background_color};
}

#container {
	word-break: break-word;
}

img {
	max-width: 100%;
}


#mainContent img {
	margin: 5px;
}

a:link {
  color: ${webleger.site.style.link.text-color};
}
a:visited {
  color: ${webleger.site.style.link.text-color.visited};
}
a:hover {
  color: ${webleger.site.style.link.text-color.hover};
}
a:active {
  color: ${webleger.site.style.link.text-color.active};
}

b, strong {
	color: ${webleger.site.style.strong.text-color};
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10{
	color:${webleger.site.style.header.title.color};
    white-space: break-spaces;
    word-break: break-word;
}

#pageTitle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#headerTitle {
	color: ${webleger.site.style.header.title.color};
	margin: auto;
}

#logoLeft {
	width: ${webleger.site.logoLeft.size.width.mobile};
	height: auto;
}

#logoRight {
	width: ${webleger.site.logoRight.size.width.mobile};
	height: auto;
}

.navbar {
	font-size: 125%;
}

.navbar-toggle {
	width: 32px;
}

.navbar-nav>li>a {
	color:${webleger.site.style.menu.text_color};
}
.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover {
    background-color: ${webleger.site.style.menu.background.color.hover};
    text-decoration: ${webleger.site.style.menu.text_decoration.hover};
}

.navbar-toggle .icon-bar {
	background-color:${webleger.site.style.menu.text_color};
}

#breadcrumb {
	list-style-type: none;
	background-color: ${webleger.site.style.header.background_color};
    padding: 15px;
    border-radius: 20px;
    white-space: nowrap;
}

#breadcrumb li {
	display: inline;
	padding:0;
	border-radius:0;
}

#breadcrumb li a {
	display: inline-block;
	background-color:${webleger.site.style.breadcrumb.background_color};
	padding: 15px;
    border-radius: 20px;
    white-space: nowrap
}

.pageContent {
    padding: 0px 10px 10px 10px;
}

.icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.125em;
}

.widget_title_image {
	float:left;
	margin-top:28px !important;
}

.blockContent {
	padding: 0px 2%;
	width: 100%;
}

.blockSubContent>span {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #e6e6e6;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 30px;
	margin: 10px 50px 10px 0px;
	display: inline-block;
	min-width: 200px;;
}
.blockSubContent>p {
	line-height: 100%;
	margin-right: 10px;
}

.blockSubContent>p>a {
	padding: 8px 25px;
	display: block;
}

.mainBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin: auto;
	padding-bottom: 3%;
	line-height: 170%;
	border-radius: 20px;
    margin-bottom: 10px;
}

.style1 {
	border: 2px solid lightgrey;
	background-color: ${webleger.site.style.style1.background-color};
}

.style2 {
	border: 2px solid lightgrey;
	background-color: ${webleger.site.style.style2.background-color};
}

.style3 {
	border: 2px solid lightgrey;
	background-color: ${webleger.site.style.style3.background-color};
}

.style4 {
	border: 2px solid lightgrey;
	background-color: ${webleger.site.style.style4.background-color};
}

.blockTitle {
	font-size: 200%;
	text-align: center;
	color: ${webleger.site.style.block.title.text-color};
}

.languageSwitcher {
	list-style:none;
	float:left;
	margin:0;
}

.languageSwitcher li {
	float:left;
	margin-left: 15px;
}

.blockBody {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.blockIcon {
	width: 40px;
	height: 40px;
	margin-right: 1%;
}

.description {
	font-weight: lighter;
	color: #aaaaaa;
}

.subContent {
	border-top: 2px solid ${webleger.site.style.header.title.color};
    border-radius: 20px;
}

.blockSubContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	widows: 2;
	margin-top: 5%;
}

.blockSubContent>p {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #e6e6e6;
	border-radius: 5px;
	height: 150px;
	width: 250px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.blockDescription {
	display: flex;
	justify-content: start;
	flex-direction: column;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	vertical-align: middle;
	font-size: smaller;
	line-height: 20px;
	align-content: center;
	padidng-right: 1px;
}

.titleDescription {
	color: #282825;
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
	margin-top: 5%;
}

.descriptionIcons {
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	margin-top: 3%;
	margin-left: 40%;
}

.credit {
	background-color: lightgray;
	text-align: center;
}

#go_to_top {
	position: -webkit-sticky;
	position: fixed;
	bottom: 100px;
	right: 50px;
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid ${webleger.site.style.link.text-color};
	padding: 2px 5px;
}

code {
	white-space: break-spaces;
}

.self_disabled {
	background-color: grey;
    
}
.self_disabled a {
	pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.carousel {
	margin:auto;
}

.carousel-inner {
	height:100%;
	width:auto;
}

.carousel-inner>.item{
	height:100%;
}
.carousel-indicators > li {
	border:1px solid ${webleger.site.style.header.title.color};
}

/* cards */
.card_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
}

.card {
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 15rem;
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

.card_title {
	margin-left: 10px;
	margin-right: 10px;
}

.card>a.widget_link, .card>a.widget_link_modal {
	display: block;
	color: black;
	height: 90%;
}

.card>a.widget_link:hover, .card>a.widget_link_modal:hover {
	text-decoration: none;
}

.card>a.widget_link:hover {
	color: ${webleger.site.style.link.text-color.hover};
}

.card>a.widget_link_modal:hover {
	cursor: zoom-in;
	color: ${webleger.site.style.link.text-color.hover};
}

.card>a.widget_link:active, .card>a.widget_link_modal:active {
	text-decoration: none;
	color: green;
}

.card_exerpt {
	margin-left: 10px;
	margin-right: 10px;
}

.card_image {
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.card_image>img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	max-height: 180px;
	max-width: 200px;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content_type_modal .card_content {
	display: none;
}

.content_type_modal .showMore {
	margin-top: 1%;
}

/* tables sub Content */
.table_title {
	font-weight: bold;
}

.table_image {
	width: 20%;
}

/* Modal elements */
.modal-body {
	display: flex;
	flex-direction: column;
}

.modal-body-content {
	padding-left: 1%;
}

.modal-image {
	max-height: 200px;
}

.shadow {
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

[data-href] {
	cursor: pointer;
}

[data-href]:hover {
	color: #2a6496;
}

div.debug {
	border: thin ridge red;
	background-color: lightgray;
}

.label {
	font-weight: bold;
	color: black;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  /*height: 60px;*/
  background-color:${webleger.site.style.footer.background_color};
  padding: 25px 0 0 0;
}

.footer_blocks{
	display: flex;
	flex-direction: column;
}

.footer_block, .header_block {
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.footer_block img, .header_block img {
	width: 100px;
}

.footer_block_text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 4%;
}

.header_blocks {
	display: flex;
	flex-direction: row-reverse;
}


.preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}

.preHeader .blockContent > p{
	margin : 0px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (min-width: 640px) {
	#footer {
		margin-left: -20px;
    	margin-right: -20px;
    	padding-left: 20px;
    	padding-right: 20px;
	}
	#pageTitle {
		justify-content: space-around;
		flex-direction: row;
	}
	#logoRight {
		width: ${webleger.site.logoRight.size.width.desktop};
	}
	#logoLeft {
		width: ${webleger.site.logoLeft.size.width.desktop};
	}
	.blockIcon {
		width: 130px;
		height: 130px;
	}
	.blockSubContent {
		flex-direction: row;
	}
	.blockDescription {
		width: 40%
	}
	
	.preHeader .blockContent {
		margin-left: 25px;
	}
	.footer_blocks {
		flex-direction: row;
		justify-content: space-around;
	}
	.footer_block {
		justify-content: space-around;
	}
	.card>a.widget_link, .card>a.widget_link_modal {
		height: 100%;
	}
	.content_type_modal .showMore {
		display: none;
	}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 0px;
}
.container .credit {
  margin: 20px 0;
}

/*code {
  font-size: 80%;
}*/