/** simillar to .partenaires **/
.partners .blockBody .blockContent>p, .join .blockBody .blockContent>p {
	width: 100%;
}

.join .blockContent>p, .partners .blockContent>p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1%;
}

.partners .blockBody .blockContent>p a, .join .blockBody .blockContent>p a
	{
	display: inline-block;
}
/** simillar to .iconsPartners **/
.partners .blockBody .blockContent>p>a>img, .join .blockBody .blockContent>p>a>img
	{
	height: 100px;
	padding: 1%;
}

.join .blockBody>p {
	width: 100%;
}

.actions .blockBody .blockContent>ul {
	padding-left: 1%;
}

.actions .blockBody .blockContent>ul>li>strong {
	color: black;
}

.actions .blockBody .blockContent>ul>li {
	display: list-item;
	/*list-style-image : url(images/validate.svg);*/
	list-style: none;
	background-image: url("/images/validate.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
	padding: 10px 10px 10px 25px;
	color: gray;
}

.actions .blockBody>ul>li>ul>li {
	display: list-item;
	/*list-style-image : url(images/validate.svg);*/
	list-style: none;
	font-size: 0.5em;
	margin-left: -50px;
}

.projectInfos {
	border: 1px solid black;
}

.projectStatus {
	font-style: italic;
}

@media screen and (min-width: 640px) {
	.actions .blockBody .blockContent>ul {
		padding-left: 1%;
	}
	.actions .blockBody .blockContent>ul>li {
		display: list-item;
		/*list-style-image : url(images/validate.svg);*/
		list-style: none;
		background-image: url("/images/validate.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 40px;
		padding: 10px 10px 10px 45px;
		color: gray;
	}
	.join .blockContent>p, .partners .blockContent>p {
		flex-direction: row;
	}
	.projectInfos {
		float: right;
	}
}