.content_tags{
	display: inline-block;
    list-style-type: none;
}

#HomePageCarousel {
	width:300px;
	height:300px;
}
#HomePageCarousel  img {
	height:75%;
}

.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.EthikNet h1, .EthikNet h2, .EthikNet h3, .EthikNet h4, .EthikNet h5, .EthikNet h6, .EthikNet h7, .EthikNet h8, .EthikNet h9, .EthikNet h10, .EthikNet b, .EthikNet strong {
	color:green;
}
.EthikNet table th, .EthikNet table td {
	border-color:green;
}
.EthikNet  .subContent {
    border-color: green;
}

.EthikNet a:visited, .EthikNet a:link{
	color:green;
}

.EthikNet b, .EthikNet strong, .menu_EthikNet b, .menu_EthikNet strong {
	color: green;
}

.EthikNet #breadcrumb li a {
	background-color:#ccffcc;
}

.Documentation table td:nth-child(1), .Documentation table td:nth-child(2) {
	word-break: normal;
} 

.navbar-nav .menu_EthikNet>a:hover, .dropDown_menu_EthikNet>li>a:hover{
	background-color:lightgreen;
}

@media screen and (min-width: 640px) {
	#HomePageCarousel {
		width:600px;
		height:400px;
	}
	#HomePageCarousel  img {
		height:60%;
	}
}
@media screen and (min-width: 1024px) {
	#HomePageCarousel {
		width:1050px;
		height:500px;
	}
}#breadcrumb {
	list-style-type: none;
	background-color: #f5f5f5;
    padding: 15px;
    border-radius: 20px;
}

#breadcrumb li {
	display: inline;
	padding:0;
	border-radius:0;
	white-space: nowrap;
}

#breadcrumb li a {
	display: inline-block;
	background-color:#f7e6ff;
	padding: 15px;
    border-radius: 20px;
    white-space: nowrap
}.carousel {
	margin:auto;
}

.carousel-inner {
	height:100%;
	width:auto;
}

.carousel-inner>.item{
	height:100%;
}
.carousel-indicators > li {
	border:1px solid #6900cc;
}
.languageSwitcher {
	list-style:none;
	float:left;
	margin:0;
}

.languageSwitcher li {
	float:left;
	margin-left: 5px;
}

.languageSwitcher img {
	max-width: 16px;
}

@media (min-width: 640px) {
	.languageSwitcher li {
		float:left;
		margin-left: 15px;
	}
	.languageSwitcher img {
		max-width: 32px;
	}
}div.debug {
	border: thin ridge red;
	background-color: lightgray;
}.navbar {
	font-size: 125%;
}

.navbar-toggle {
	width: 32px;
}

.navbar-nav>li>a {
	color:black;
}
.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover {
    background-color: #f7e6ff;
    text-decoration: underline;
}

.navbar-toggle .icon-bar {
	background-color:black;
}.subContent {
	border-top: 2px solid #6900cc;
    border-radius: 20px;
}

.subContent>.title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 150%;
    color: #6900cc;
    text-decoration: underline;
}/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
	font: 100% trebuchet, helvetica, sans-serif;
	background-color: #fefefe;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto;
}

#preHeader{
    background-color:#f7e6ff;
}

#header {
	background-color:#f5f5f5;
}

#container {
	word-break: break-word;
}

img {
	max-width: 100%;
}


#mainContent img {
	margin: 5px;
}

a:link {
  color: #6900cc;
}
a:visited {
  color: purple;
}
a:hover {
  color: #690055;
}
a:active {
  color: green;
}

b, strong {
	color: #6900cc;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10{
	color:#6900cc;
    white-space: break-spaces;
    word-break: break-word;
}

[data-obfuscatedkey] {
	border: 2px solid white;
    border-radius: 21px;
    padding: 1px;
    padding-bottom: 3px;
    border-width: medium;
    background-color: rgb(255, 255, 255, 0.5);
}

#pageTitle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#headerTitle {
	color: #6900cc;
	margin: auto;
}

#logoLeft {
	width: 50px;
	height: auto;
}

#logoRight {
	width: 0;
	height: auto;
}

.pageContent {
    padding: 0px 10px 10px 10px;
}

.icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.125em;
}

.widget_title_image {
	float:left;
	margin-top:28px !important;
}

.description {
	font-weight: lighter;
	color: #aaaaaa;
}

.titleDescription {
	color: #282825;
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
	margin-top: 5%;
}

.descriptionIcons {
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	margin-top: 3%;
	margin-left: 40%;
}

.credit {
	background-color: lightgray;
	text-align: center;
}

#go_to_top {
	position: -webkit-sticky;
	position: fixed;
	bottom: 100px;
	right: 50px;
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid #6900cc;
	padding: 2px 5px;
}

code {
	white-space: break-spaces;
}

.self_disabled {
	background-color: grey;
    
}
.self_disabled a {
	pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

/* cards */
.card_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
}

.card {
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 15rem;
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

.card_title {
	margin-left: 10px;
	margin-right: 10px;
}

.card>a.widget_link, .card>a.widget_link_modal {
	display: block;
	color: black;
	height: 90%;
}

.card>a.widget_link:hover, .card>a.widget_link_modal:hover {
	text-decoration: none;
}

.card>a.widget_link:hover {
	color: #690055;
}

.card>a.widget_link_modal:hover {
	cursor: zoom-in;
	color: #690055;
}

.card>a.widget_link:active, .card>a.widget_link_modal:active {
	text-decoration: none;
	color: green;
}

.card_exerpt {
	margin-left: 10px;
	margin-right: 10px;
}

.card_image {
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.card_image>img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	max-height: 180px;
	max-width: 200px;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content_type_modal .card_content {
	display: none;
}

.content_type_modal .showMore {
	margin-top: 1%;
}

/* tables sub Content */
.table_title {
	font-weight: bold;
}

.table_image {
	width: 20%;
}

/* Modal elements */
.modal-body {
	display: flex;
	flex-direction: column;
}

.modal-body-content {
	padding-left: 1%;
}

.modal-image {
	max-height: 200px;
}

.shadow {
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
}

[data-href] {
	cursor: pointer;
}

[data-href]:hover {
	color: #2a6496;
}

.label {
	font-weight: bold;
	color: black;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  /*height: 60px;*/
  background-color:#f5f5f5;
  padding: 25px 0 0 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (min-width: 640px) {
	#footer {
		margin-left: -20px;
    	margin-right: -20px;
    	padding-left: 20px;
    	padding-right: 20px;
	}
	#pageTitle {
		justify-content: space-around;
		flex-direction: row;
	}
	#logoRight {
		width: 0;
	}
	#logoLeft {
		width: 200px;
	}
	.card>a.widget_link, .card>a.widget_link_modal {
		height: 100%;
	}
	.content_type_modal .showMore {
		display: none;
	}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 0px;
}
.container .credit {
  margin: 20px 0;
}