.impact_img svg {
	background-color:#6900cc;
	border-radius: 5px;
}

.content_tags{
	display: inline-block;
    list-style-type: none;
}

#HomePageCarousel {
	width:300px;
	height:300px;
}
#HomePageCarousel  img {
	height:75%;
}

.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.EthikNet h1, .EthikNet h2, .EthikNet h3, .EthikNet h4, .EthikNet h5, .EthikNet h6, .EthikNet h7, .EthikNet h8, .EthikNet h9, .EthikNet h10, .EthikNet b, .EthikNet strong {
	color:green;
}
.EthikNet table th, .EthikNet table td {
	border-color:green;
}
.EthikNet  .subContent {
    border-color: green;
}

.EthikNet a:visited, .EthikNet a:link{
	color:green;
}

.EthikNet b, .EthikNet strong, .menu_EthikNet b, .menu_EthikNet strong {
	color: green;
}

.EthikNet #breadcrumb li a {
	background-color:#ccffcc;
}

.Documentation table td:nth-child(1), .Documentation table td:nth-child(2) {
	word-break: normal;
} 

.navbar-nav .menu_EthikNet>a:hover, .dropDown_menu_EthikNet>li>a:hover{
	background-color:lightgreen;
}

.footer_blocks .block h3.blockTitle {
	font-size: 150%;
}
.footer_blocks .block .blockTitle, .footer_blocks .block .blockContent > p {
	text-align:left;
}

@media screen and (min-width: 640px) {
	#HomePageCarousel {
		width:600px;
		height:400px;
	}
	#HomePageCarousel  img {
		height:60%;
	}
	.footer_blocks .block {
		flex-direction:column;
		text-align:left;
		width:22%;
	}
}
@media screen and (min-width: 1024px) {
	#HomePageCarousel {
		width:1050px;
		height:500px;
	}
}.lpEthikNet {
	color:#2D8659;
	background-color:#F7F6F2;
	letter-spacing: .025em;
}
.lpEthikNet  h1, .lpEthikNet  h2, .lpEthikNet  h3, .lpEthikNet  h4, .lpEthikNet  h5, .lpEthikNet  h6, .lpEthikNet h7, .lpEthikNet h8, .lpEthikNet h9, .lpEthikNet h10 {
	font-weight: bolder;
	color:black;
}

.lpEthikNet  h1 strong, .lpEthikNet  h2 strong, .lpEthikNet  h3 strong, .lpEthikNet  h4 strong, .lpEthikNet  h5 strong, .lpEthikNet  h6 strong, .lpEthikNet h7 strong, .lpEthikNet h8 strong, .lpEthikNet h9 strong, .lpEthikNet h10 strong {
	font-weight: bolder;
	color:#DBB470;
	display:block;
}

.lpEthikNet b, .lpEthikNet strong {
	font-weight: bolder;
	color:#DBB470;
}

.lpEthikNet  h1, .lpEthikNet  h2 {
	text-align: center;
	letter-spacing: 0.025em;
    font-weight: 750;
    margin:25px 0;
}

.lpEthikNet .pageTitle {
	background-color:#276842;
	color:#FCFBF8;
}

.lpEthikNet .pageTitle, .lpEthikNet .pageTitle h1, .lpEthikNet .pageTitle h2 {
	background-color:#276842;
	color:#FCFBF8;
}

.lpEthikNet .pageTitle .btn{
    border-color: white;
    color:white!important;
}
.lpEthikNet .pageTitle .btn:hover{
   background-color: white;
   color: #276842!important;
}

.lpEthikNet .pageTitle .btn-primary{
	color:#276842!important;
    background-color: white;
    border-color: white;
}
.lpEthikNet .pageTitle .btn-primary:hover{
    background-color: lightgrey ;
}

.lpEthikNet .impact_img svg {
	background-color:#628470;
}

.lpEthikNet table th, .lpEthikNet table td {
	border-color:#2D8659;
}

.lpEthikNet .featured {
	border-color:#2D8659!important;
}

.lpEthikNet .featured_label {
	color: white;
	background-color: #2D8659;
}

.lpEthikNet .sticker_list {
	margin-top : 15px;
}
.lpEthikNet .sticker {
	background-color:#eaf3ee;
	border:1px solid white;
	border-radius:20px;
	color:#628470;
	padding: 5px 20px;
}

.lpEthikNet .blockContent > p {
	text-align:center;
}

.lpEthikNet .subContent {
    border-color: #2D8659;
}

.lpEthikNet a:visited, .lpEthikNet a:link{
	color:#2D8659;
}

.lpEthikNet b, .lpEthikNet strong {
	color: #2D8659;
}

.lpEthikNet #breadcrumb li a {
	background-color:#2D8659;
}

.lpEthikNet .card_list {
	justify-content: center;
}
.lpEthikNet .card .card_image {
	margin-top: 8px;
}
.lpEthikNet .cta  {
	margin: 30px 0;
}

.lpEthikNet .accroche {
    margin: 30px 0;
}
.lpEthikNet .accroche .card {
	border:none;
	box-shadow:none;
	background-color:#477e5d;
}
.lpEthikNet .accroche .card h2 {
	background-color:#477e5d;
}
.lpEthikNet .accroche .card .card_content { 
	text-align:center;
}
.lpEthikNet .accroche h2 {
	font-weight: bolder;
}

.lpEthikNet .services .card {
	box-shadow:none;
	border:2px solid #D1E0D9;
	border-radius:20px;
	background-color:white;
	padding: 10px;
	text-align:left;
	margin-top:20px;
}
.lpEthikNet .services .card:hover {
	border:2px solid #2D8659;
}
.lpEthikNet .services .card .card_image {
	height:50px;
	width: 50px;
    padding: 13px;
	background-color:#eaf3ee;
	border-radius:5px;
	display: inline-block;
}
.lpEthikNet .services .card .card_title {
	font-weight: 500;
	letter-spacing: -.025em;
}


.lpEthikNet .tarif .card {
	box-shadow:none;
	border:2px solid #D1E0D9;
	border-radius:20px;
	background-color:white;
	padding: 10px;
	margin-top:20px;
	text-align:center;
}
.lpEthikNet .tarif .card .card_image {
	height:50px;
	width:50px;
	padding:10px;
	background-color:#eaf3ee;
	border-radius:9999px;
	display: inline-block;
}
.lpEthikNet .tarif .card .card_content {
	border-bottom: 1px solid grey;
}
.lpEthikNet .tarif .card .card_title {
	font-weight: 600;
	letter-spacing: -.025em;
}
.lpEthikNet .tarif .card .card_content ul {
	text-align:left;
	font-size:small;
}
.lpEthikNet .tarif .card .actions_list {
	margin-top:10px;
	padding-bottom: 15px;
}

.lpEthikNet .hebergement {
    background-color: white;
    border:1px solid grey;
}
.lpEthikNet .hebergement .card {
	box-shadow:none;
	text-align:center;
}

.lpEthikNet  .ethiknet_pourquoi {
	box-shadow:none;
}
.lpEthikNet  .ethiknet_pourquoi .card {
	padding:10px;
	box-shadow:none;
	text-align:center;
}
.lpEthikNet  .ethiknet_pourquoi .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius:9999px;
	background-color: #eaf3ee;
	justify-content: center;
    align-items: center;
}

.lpEthikNet .ethiknet_propulse_webleger {
	background-color: #EBE5D6;
}

.lpEthikNet .ethiknet_faq .collapse_block {
    background-color: white;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
}
.lpEthikNet .ethiknet_faq .collapse_block a[data-toggle] {
	padding-bottom:10px;
}
.lpEthikNet .ethiknet_faq .collapse_block .collapse_block_content {
	font-size:90%;
}
.lpEthikNet .ethiknet_faq .collapse_block h3 {
	margin-top: 5px;
    margin-bottom: 5px;
	font-size:14px;
}

.lpEthikNet .ethiknet_parlons_projet .card  {
	background-color:white;
	box-shadow:none;
	border:1px solid lightgrey;
}

.lpEthikNet .ethiknet_parlons_projet .card .blockTitle, .lpEthikNet .ethiknet_parlons_projet .card .blockBody {
	text-align:left;
}
.lpEthikNet .ethiknet_parlons_projet .card .blockBody .blockContent {
	padding-left:30px;
	text-align:left;
}

.lpEthikNet .ethiknet_parlons_projet .block.imageLeftTitleAndContentSubTemplate {
	margin-top:20px;
}
.lpEthikNet .ethiknet_parlons_projet .block.imageLeftTitleAndContentSubTemplate .blockIcon {
	width:30px;
	height:initial;
	padding-left: 10px;
}
.lpEthikNet .ethiknet_parlons_projet .block.imageLeftTitleAndContentSubTemplate .groupe_content {
	width:100%;
}
.lpEthikNet .ethiknet_parlons_projet .block.imageLeftTitleAndContentSubTemplate .groupe_content h2 {
	margin:0;
}
.lpEthikNet .ethiknet_parlons_projet .block.imageLeftTitleAndContentSubTemplate .groupe_content .blockContent p {
	margin:0;
	text-align:left;
}

.lpEthikNet .ethiknet_parlons_projet form {
	margin:10px;
	color:black;
}
.lpEthikNet .ethiknet_parlons_projet form label {
	padding-top:15px;
}

.lpEthikNet .lp_offre_lancement {
	background-color:#2D8659;
	color:white;
	border-radius: 20px;
}
.lpEthikNet .lp_offre_lancement h2 {
	color:white;
	margin:0;
	margin-bottom:10px;
	padding-top:10px;
}
.lpEthikNet .lp_offre_lancement strong {
	color:white;
}

.lpEthikNet .footer_blocks, .lpEthikNet .footer_blocks .blockTitle {
	background-color:#2D8659;
	color:white;
}
.lpEthikNet .footer_blocks .impact_img svg {
    background-color: initial;
}

.lpEthikNet .footer_blocks a:visited, .lpEthikNet .footer_blocks a:link, .lpEthikNet .footer_blocks a:visited, .lpEthikNet .footer_blocks a {
	color:white;
}

.lpEthikNet .btn{
    border-color: #2D8659;
    color:#2D8659!important;
}
.lpEthikNet .btn:hover{
   background-color: #2D8659;
   color: white!important;
}

.lpEthikNet .btn-primary{
	color:white!important;
    background-color: #2D8659;
    border-color: #2D8659;
}
.lpEthikNet .btn-primary:hover{
	color:#2D8659!important;
    background-color: white;
}


.lpEthikNet .subContent {
	border:none;
}

@media screen and (min-width: 640px) {
	.lpEthikNet .services .card {
		width:45%;
	}
	.lpEthikNet .howTo {
		padding-left:75px;
	}
	.lpEthikNet .tarif .card {
		width:40%;
	}
	
	.lpEthikNet .hebergement .card {
		width:40%;
	}
	
	.lpEthikNet .ethiknet_propulse_webleger{
	    padding: 0 160px;
	}
	.lpEthikNet .ethiknet_parlons_projet .block.imageLeftTitleAndContentSubTemplate .blockIcon {
		height:initial;
	}
	.lpEthikNet .ethiknet_parlons_projet .card  {
		width:45%;
	}
	
	.lpEthikNet .lp_offre_lancement {
		margin: 0 150px;
	}
}
.lpWebLeger {
	color:#2D8659;
	background-color:#f7fcfa;
	letter-spacing: .025em;
}
.lpWebLeger  h1, .lpWebLeger  h2, .lpWebLeger  h3, .lpWebLeger  h4, .lpWebLeger  h5, .lpWebLeger  h6, .lpWebLeger h7, .lpWebLeger h8, .lpWebLeger h9, .lpWebLeger h10 {
	font-weight: bolder;
	color:black;
}

.lpWebLeger  h1 strong, .lpWebLeger  h2 strong, .lpWebLeger  h3 strong, .lpWebLeger  h4 strong, .lpWebLeger  h5 strong, .lpWebLeger  h6 strong, .lpWebLeger h7 strong, .lpWebLeger h8 strong, .lpWebLeger h9 strong, .lpWebLeger h10 strong {
	font-weight: bolder;
	color:#2D8659;
	display:block;
}

.lpWebLeger b, .lpWebLeger strong {
	font-weight: bolder;
	color:#2D8659;
}

.lpWebLeger  h1, .lpWebLeger  h2 {
	text-align: center;
	letter-spacing: 0.025em;
    font-weight: 750;
    margin:25px 0;
}


.lpWebLeger .impact_img svg {
	background-color:#2D8659;
}

.lpWebLeger table th, .lpWebLeger table td {
	border-color:#2D8659;
}

.lpWebLeger .featured {
	border-color:#2D8659!important;
}

.lpWebLeger .featured_label {
	color: white;
	background-color: #2D8659;
}

.lpWebLeger .sticker_list {
	margin-top : 15px;
}
.lpWebLeger .sticker {
	background-color:#eaf3ee;
	border:1px solid white;
	border-radius:20px;
	color:#2D8659;
	padding: 5px 20px;
}

.lpWebLeger .steps_list .steps .steps_image {
	border-color: #2D8659;
	color:black;
}

.lpWebLeger .steps_exerpt {
	font-weight: bold;
}

.lpWebLeger .blockContent > p {
	text-align:center;
}

.lpWebLeger .subContent {
    border-color: #2D8659;
}

.lpWebLeger a:visited, .lpWebLeger a:link{
	color:#2D8659;
}

.lpWebLeger b, .lpWebLeger strong {
	color: #2D8659;
}

.lpWebLeger #breadcrumb li a {
	background-color:#2D8659;
}

.lpWebLeger .card_list {
	justify-content: center;
}
.lpWebLeger .card .card_image {
	margin-top: 8px;
}
.lpWebLeger .cta  {
	margin: 30px 0;
}
.lpWebLeger .accroche {
    margin: 30px 0;
}

.lpWebLeger .accroche .card {
	border:none;
	color:#2D8659;
	box-shadow:none;
}
.lpWebLeger .accroche .card .card_content { 
	text-align:center;
}
.lpWebLeger .accroche h2 {
	font-weight: bolder;
	color:#2D8659;
}

.lpWebLeger .fonctionality .card {
	box-shadow:none;
	border:2px solid #D1E0D9;
	border-radius:20px;
	background-color:white;
	padding: 10px;
	text-align:left;
	margin-top:20px;
}
.lpWebLeger .fonctionality .card:hover {
	border:2px solid #2D8659;
}
.lpWebLeger .fonctionality .card .card_image {
	height:50px;
	width: 50px;
    padding: 13px;
	background-color:#eaf3ee;
	border-radius:5px;
	display: inline-block;
}
.lpWebLeger .fonctionality .card .card_title {
	font-weight: 500;
	letter-spacing: -.025em;
}


.lpWebLeger .tarif .card {
	box-shadow:none;
	border:2px solid #D1E0D9;
	border-radius:20px;
	background-color:white;
	padding: 10px;
	margin-top:20px;
}
.lpWebLeger .tarif .card .card_image {
	height:50px;
	width:50px;
	padding:10px;
	background-color:#eaf3ee;
	border-radius:9999px;
	display: inline-block;
}
.lpWebLeger .tarif .card .card_content {
	border-bottom: 1px solid grey;
}
.lpWebLeger .tarif .card .card_title {
	font-weight: 600;
	letter-spacing: -.025em;
}
.lpWebLeger .tarif .card .card_content ul {
	text-align:left;
	font-size:small;
}
.lpWebLeger .tarif .card .actions_list {
	margin-top:10px;
	padding-bottom: 15px;
}

.lpWebLeger .style1 {
	background-color:#eaf3ee;
}

.lpWebLeger .ready .card {
	border:none;
	color:#2D8659;
	box-shadow:none;
	width:unset;
}

.lpWebLeger .btn{
    border-color: #2D8659;
}
.lpWebLeger .btn:hover{
   background-color: #2D8659;
   color:white;
}

.lpWebLeger .btn-primary{
	color:white!important;
    background-color: #2D8659;
    border-color: #2D8659;
}
.lpWebLeger .btn-primary:hover{
	color:#2D8659!important;
    background-color: white;
}


.lpWebLeger .subContent {
	border:none;
}

@media screen and (min-width: 640px) {
	.lpWebLeger .fonctionality .card {
		width:30%;
	}
	.lpWebLeger .howTo {
		padding-left:75px;
	}
	.lpWebLeger .tarif .card {
		width:30%;
	}
}
.action_centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.action_centered a{
	margin-top:10px;
}

@media screen and (min-width: 640px) {
	.action_centered {
		flex-direction: row;
		gap: 8px;
	}
}#breadcrumb {
	list-style-type: none;
	background-color: #f5f5f5;
    padding: 15px;
    border-radius: 20px;
}

#breadcrumb li {
	display: inline;
	padding:0;
	border-radius:0;
	white-space: nowrap;
}

#breadcrumb li a {
	display: inline-block;
	background-color:#f7e6ff;
	padding: 15px;
    border-radius: 20px;
    white-space: nowrap
}.carousel {
	margin:auto;
}

.carousel-inner {
	height:100%;
	width:auto;
}

.carousel-inner>.item{
	height:100%;
}
.carousel-indicators > li {
	border:1px solid #6900cc;
}
.languageSwitcher {
	list-style:none;
	float:left;
	margin:0;
}

.languageSwitcher li {
	float:left;
	margin-left: 5px;
}

.languageSwitcher img {
	max-width: 16px;
}

@media (min-width: 640px) {
	.languageSwitcher li {
		float:left;
		margin-left: 15px;
	}
	.languageSwitcher img {
		max-width: 32px;
	}
}div.debug {
	border: thin ridge red;
	background-color: lightgray;
}.navbar {
	font-size: 125%;
}

.navbar-toggle {
	width: 32px;
}

.navbar-nav>li>a {
	color:black;
}
.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover {
    background-color: #f7e6ff;
    text-decoration: underline;
}

.navbar-toggle .icon-bar {
	background-color:black;
}span[data-obfuscatedkey] {
	border: 2px solid white;
    border-radius: 21px;
    padding: 1px;
    padding-bottom: 3px;
    border-width: medium;
    background-color: rgb(255, 255, 255, 0.5);
}.sticker_centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sticker_centered.noText {
	flex-direction: row;
	justify-content: space-arround;
	gap: 2px;
}

.sticker_centered a{
	margin-top:10px;
}

@media screen and (min-width: 640px) {
	.sticker_centered {
		flex-direction: row;
		gap: 8px;
	}
}.subContent {
	border-top: 2px solid #6900cc;
    border-radius: 20px;
}

.subContent>.title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 150%;
    color: #6900cc;
    text-decoration: underline;
}

/* cards */
.card_list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5px;
}

.card {
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	box-shadow: 5px 5px 3px rgb(187, 187, 187);
	text-align: center;
}

.card_title {
	margin-left: 10px;
	margin-right: 10px;
}

.card>a.widget_link, .card>a.widget_link_modal {
	display: block;
	color: black;
	height: 90%;
}

.card>a.widget_link:hover, .card>a.widget_link_modal:hover {
	text-decoration: none;
}

.card>a.widget_link:hover {
	color: #690055;
}

.card>a.widget_link_modal:hover {
	cursor: zoom-in;
	color: #690055;
}

.card>a.widget_link:active, .card>a.widget_link_modal:active {
	text-decoration: none;
	color: green;
}

.card_exerpt {
	margin-left: 10px;
	margin-right: 10px;
}

.card_image {
	height: 100px;
}

.card_image>img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	max-height: 180px;
	max-width: 200px;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content_type_modal .card_content, .widget_content, .widget_title, .widget_image {
	display: none;
}

.content_type_modal .showMore {
	margin-top: 1%;
}

/* tables sub Content */
.table_title {
	font-weight: bold;
}

.table_image {
	width: 20%;
}
.table_image img {
	max-width: 20px;
}

/* Modal elements */
.modal-body {
	display: flex;
	flex-direction: column;
}

.modal-body-content {
	padding-left: 1%;
}

.modal-image img {
	max-width: 30%;
    margin: 0 auto;
}

/* steps */

.steps_list {
	display:flex;
	flex-direction: column;
}

.steps_list .steps {
	display:flex;
	flex-direction: row;
	margin-bottom: 40px;
}

.steps_list .steps .step_icon {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
}

.steps_list .steps .steps_image {
	border: 2px solid black	;
    border-radius: 99999px;
    padding: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-self: center;
}

.steps_list .steps .step_content {
	display:flex;
	flex-direction: column;
}

.steps_list .steps .vertical_line {
	width:0.5px;
	height:100%;
	border:1px solid grey;
	margin-top: 10px;
}



@media (min-width: 640px) {
	.card>a.widget_link, .card>a.widget_link_modal {
		height: 100%;
	}
	.table_image img {
		max-width: 60px;
	}
	.card_list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 10px;
	}
	.card {
		margin-right: 20px;
		margin-bottom: 20px;
		width: 15rem;
		text-align: left;
	}
	.card_image {
		height: 210px;
	}
}