.content_tags{
	display: inline-block;
    list-style-type: none;
}

#HomePageCarousel {
	width:300px;
	height:300px;
}
#HomePageCarousel  img {
	height:75%;
}

.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.EthikNet h1, .EthikNet h2, .EthikNet h3, .EthikNet h4, .EthikNet h5, .EthikNet h6, .EthikNet h7, .EthikNet h8, .EthikNet h9, .EthikNet h10, .EthikNet b, .EthikNet strong {
	color:green;
}
.EthikNet table th, .EthikNet table td {
	border-color:green;
}
.EthikNet  .subContent {
    border-color: green;
}

.EthikNet a:visited, .EthikNet a:link{
	color:green;
}

.EthikNet b, .EthikNet strong, .menu_EthikNet b, .menu_EthikNet strong {
	color: green;
}

.EthikNet #breadcrumb li a {
	background-color:#ccffcc;
}

.Documentation table td:nth-child(1), .Documentation table td:nth-child(2) {
	word-break: normal;
} 

.navbar-nav .menu_EthikNet>a:hover, .dropDown_menu_EthikNet>li>a:hover{
	background-color:lightgreen;
}

@media screen and (min-width: 640px) {
	#HomePageCarousel {
		width:600px;
		height:400px;
	}
	#HomePageCarousel  img {
		height:60%;
	}
}
@media screen and (min-width: 1024px) {
	#HomePageCarousel {
		width:1050px;
		height:500px;
	}
}#breadcrumb {
	list-style-type: none;
	background-color: #f5f5f5;
    padding: 15px;
    border-radius: 20px;
}

#breadcrumb li {
	display: inline;
	padding:0;
	border-radius:0;
	white-space: nowrap;
}

#breadcrumb li a {
	display: inline-block;
	background-color:#f7e6ff;
	padding: 15px;
    border-radius: 20px;
    white-space: nowrap
}.carousel {
	margin:auto;
}

.carousel-inner {
	height:100%;
	width:auto;
}

.carousel-inner>.item{
	height:100%;
}
.carousel-indicators > li {
	border:1px solid #6900cc;
}
.languageSwitcher {
	list-style:none;
	float:left;
	margin:0;
}

.languageSwitcher li {
	float:left;
	margin-left: 5px;
}

.languageSwitcher img {
	max-width: 16px;
}

@media (min-width: 640px) {
	.languageSwitcher li {
		float:left;
		margin-left: 15px;
	}
	.languageSwitcher img {
		max-width: 32px;
	}
}div.debug {
	border: thin ridge red;
	background-color: lightgray;
}.navbar {
	font-size: 125%;
}

.navbar-toggle {
	width: 32px;
}

.navbar-nav>li>a {
	color:black;
}
.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover {
    background-color: #f7e6ff;
    text-decoration: underline;
}

.navbar-toggle .icon-bar {
	background-color:black;
}.subContent {
	border-top: 2px solid #6900cc;
    border-radius: 20px;
}

.subContent>.title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 150%;
    color: #6900cc;
    text-decoration: underline;
}