.action_centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 640px) {
	.action_centered {
		display: flex;
		flex-direction: row;
		gap: 8px;
	}
}