.subContent {
	border-top: 2px solid ${webleger.site.style.header.title.color};
    border-radius: 20px;
}

.subContent>.title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 150%;
    color: ${webleger.site.style.header.title.color};
    text-decoration: underline;
}